<!-- video-metadata.component.html -->
<div class="right-sidebar">
    <div class="sidebar-item">
      <label for="videoTitle">Video Title</label>
      <input
        type="text"
        id="videoTitle"
        name="videoTitle"
        placeholder="Enter video title"
        [(ngModel)]="title"
        (ngModelChange)="handleTitleChange($event)"
      />
    </div>
    <div class="sidebar-item">
      <label for="tags">Tags</label>
      <input
        type="text"
        id="tags"
        name="tags"
        placeholder="Enter tags, separated by commas"
        [(ngModel)]="tags"
        (ngModelChange)="handleTagsChange($event)"
      />
    </div>
    <div class="sidebar-item">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        placeholder="Enter video description"
        [(ngModel)]="description"
        (ngModelChange)="handleDescriptionChange($event)"
      ></textarea>
    </div>
    <div class="sidebar-item checkbox-item">
      <label>
        To mark video private uncheck the box
        <input
          type="checkbox"
          [checked]="isPublic"
          (change)="handleIsPublicChange($event)"
        />
      </label>
    </div>
    <br />
    <div class="sidebar-item">
      <label for="mergeVideos">Merge Videos</label>
      <button class="merge-button">+ Merge</button>
    </div>
    <div class="sidebar-item">
      <label for="thumbnailDropdown">Select Thumbnail</label>
      <select id="thumbnailDropdown" name="thumbnailDropdown">
        <option value="selectFromVideo">Select from Video</option>
        <option value="uploadThumbnail">Upload</option>
      </select>
    </div>
  </div>