.signup-page {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .signup-heading {
    font-size: 24px;
    color: #b33300;
    margin-bottom: 20px;
  }
  
  .signup-form {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  
  .login-link {
    margin-top: 20px;
  }
  
  .login-link a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
  }
  
  .login-link a:hover {
    color: #0056b3;
  }
  